<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'drafts', :plugin => :redmine_drafts %>
<% end %>

<% if User.current.logged? %>
<script>
$(function() {
  //ensure draft status div is at the bottom of the fieldset
  $("#draft-status").appendTo($("#draft-status").closest("fieldset"))
  //observe changed on the form
  $("#issue-form").observe(60, function() {
    $.ajax({
      url: "<%= autosave_drafts_path(:issue_id => @issue.id) %>",
      dataType: "script",
      type: "PUT",
      data: $(this).serialize(),
      global: false //no 'loading...' tooltip
    })
  })
})
</script>
<% if @draft_attachments %>
  <script>
    $(() => {
      const attachmentInput = $("#new-attachments input[type=file]");
      if (!attachmentInput.length) return;

      const draftAttachments = <%= raw @draft_attachments.to_json %>;
      draftAttachments.forEach((attachment) => {
        if (!attachment) return;

        restoreDraftFile(
          attachmentInput,
          attachment.filename,
          attachment.description,
          attachment.token,
          attachment.path
        );
      });

      <% if @failed_draft_attachments_count > 0 %>
        alert("<%= l(:message_failed_to_restore_attachment, count: @failed_draft_attachments_count) %>");
      <% end %>
    });
  </script>
<% end %>
<% end %>

<div id="draft-status" style="display:none;"></div>
