<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'drafts', :plugin => :redmine_drafts %>
<% end %>

<% if User.current.logged? %>
<script>
$(function() {
  //ensure draft status div is at the bottom of the fieldset
  $("#draft-status").appendTo($("#draft-status").closest("fieldset"))

  function saveDraft(force = false) {
    $.ajax({
      url: "<%= autosave_drafts_path(:issue_id => @issue.id) %>",
      dataType: "script",
      type: "PUT",
      data: $("#issue-form").serialize() + "&force=" + force,
      global: false //no 'loading...' tooltip
    });
  }

  //observe changed on the form
  $("#issue-form").observe(60, saveDraft);

  // Handle save draft button
  $(".save-draft-button").on("click", (e)=>{
    e.preventDefault();
    saveDraft(true);
  });
})
</script>
<% end %>

<div id="draft-status" style="display:none;"></div>
