<% if User.current.logged? && @issue.new_record? && params[:issue].nil? && @project.present? %>
  <% draft = Draft.find_for_issue(:element_id => 0, :user_id => User.current) %>
  <% if draft %>
    <div id="draft-pending">
      <%= render :partial => 'drafts/pending', :locals => { :draft => draft } %>
    </div>
  <% end %>
<% end %>
