<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'drafts', :plugin => :redmine_drafts %>
<% end %>

<% if User.current.logged? %>
  <%= observe_form :"issue-form",
                   :url => autosave_drafts_path(:issue_id => @issue.id),
                   :method => :post,
                   :update => :"draft-status",
                   :frequency => 15,
                   :complete => "Effect.Appear('draft-status'); if (!$('draft-status').empty() && $('draft-pending')) { $('draft-pending').hide(); }"
                   #:complete => "Element.show('draft-status'); Effect.Pulsate('draft-status',{pulses:1})"
                 %>
<% end %>

<div id="draft-status" style="display:none;"></div>

<% if User.current.logged? && @issue.new_record? && params[:issue].nil? %>
  <% draft = Draft.find_for_issue(:element_id => 0, :user_id => User.current) %>
  <% if draft %>
    <div id="draft-pending">
      <%= render 'drafts/pending', :draft => draft %>
    </div>
  <% end %>
<% end %>
