<% if User.current.logged? && !@issue.new_record? %>
  <% draft = Draft.find_for_issue(:element_id => @issue, :user_id => User.current, :element_lock_version => @issue.lock_version) %>
  <% if draft %>
  <tr id="draft-pending">
    <td colspan="4" class="draft">
      <%= l(:label_draft_pending,
            {:time => distance_of_time_in_words(Time.now, draft.updated_at),
            :restore => link_to(l(:label_draft_restore),
                          restore_draft_path(draft),
                          :method => :put),
            :delete => link_to_remote(l(:label_draft_delete),
                          :url => draft_path(draft),
                          :method => :delete,
                          :success => "Effect.Fade('draft-pending');")
            }
          ) %>
    </td>
  </tr>
  <% end %>
<% end %>
