<% if User.current.logged? && !@issue.new_record? %>
  <% draft = Draft.find_for_issue(:element_id => @issue, :user_id => User.current) %>
  <% if draft %>
    <div id="draft-pending">
      <%= render 'drafts/pending', :draft => draft %>
    </div>
  <% end %>
<% end %>
